.book-index {
    padding: 20px;
}

.index-actions {
    text-align: center;
    margin-block-end: 1em;
}

.book-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.book-list li {
    margin-bottom: 20px;
}

.book-preview {
    padding: 15px;
    background-color: var(--clr2bg-light);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.book-preview:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.book-preview h2, .book-preview h3, .book-preview h4 {
    margin: 0;
    padding: 0;
    color: var(--clr1bg);
}

.book-preview h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--clr1bg);
}

.book-preview h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: var(--clr2); 
}

.book-preview h4 {
    font-size: 1rem;
    color: var(--gray2); 
}

