.book-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--clr1);
}
.book-details h1 {
    color: var(--clr2);
    font-size: 2em;
    
}
.book-details h5 {
    color: var(--clr2);
}
.book-details img {
    max-width: 200px;
    display: block;
    margin: auto;
}

.book-details .book-specs {
    color: blue;
}

.book-details .price-red {
    color: red;
}

.book-details .price-green {
    color: green;
}