.book-filter {
    background-color: var(--clr2bg);
    padding-inline-start: 1em;
    margin-block-end: 1em;
}

.book-filter form {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: .5em;
}

.book-filter form button {
    background-color: var(--clr2);
    margin-inline: 0
}

.book-filter input {
    box-sizing: border-box;
    margin-inline-end: 1em;

    background-color: lightcyan;
    border: 1em;
    border-radius: 4px;
}